header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 0;
    justify-content: space-around;
    background-color: var(--bg-color);
}

.logoLink {
    margin: 1rem;
    width: 16.5rem;
}

.logo {
    cursor: pointer;
    transition: .3s;
}

nav {
    align-content: center;
}

.nav-links {
    list-style: none;
    padding: 0%;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links a {
    align-content: center;
    border-radius: 0;
    margin: 0 2rem;
    padding: 1rem 0 .5rem 0;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: var(--font-color);
    transition: all .2s ease;
}

.nav-links a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.login-btn {
    font-weight: 800;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
    padding: 1rem 0 .5rem 0;
    transition: all .2s ease;
}

.login-btn:hover {
    transform: scale(0.95);
}

.signup-btn {
    font-weight: bold;
    text-decoration: none;
    color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--second-color);
    padding: 1rem 2rem;
    margin-left: 1.5rem;
}

.signup-btn:hover {
    background-color: var(--main-color);
}