@import url('https://fonts.cdnfonts.com/css/garet');

:root {
    --bg-color: #fff;
    --main-color: #03b32e;
    --font-color: #231f20;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Garet", sans-serif;
    min-height: 100vh;
    margin: 0;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section {
    padding: 7rem 7% 2rem;
    min-height: 100vh;
}

a {
    text-decoration: none;
    border: 1px none;
    border-radius: 100px;
    display: inline-block;
}

span {
    color: var(--main-color);
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    color: var(--main-color);
}

/*                            */
/*           HEADER           */
/*                            */

header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0 30px;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.logo {
    font-size: 2rem;
    color: var(--font-color);
    padding: 0;
    cursor: pointer;
    width: 200px;
    transition: all .3s ease;
    margin-left: 15px;
}

.logo:hover {
    transform: scale(0.95);
}

nav {
    align-content: center;
}

.nav-links {
    list-style: none;
    padding: 0%;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    align-content: center;
    border-radius: 0;
    margin: 0 20px;
    padding: 10px 0 5px 0;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: var(--font-color);
    transition: all .3s ease;
}

.nav-links a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.loginBtn {
    font-weight: 800;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 0;
    padding: 10px 0 5px 0;
    transition: all .3s ease;
}

.loginBtn:hover {
    transform: scale(0.95);
}

.signupBtn {
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    background-color: var(--main-color);
    padding: 10px 20px;
    margin-left: 15px;
    transition: all 0.3s ease;
}

.signupBtn:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    transform: scale(0.95);
}

/*                            */
/*            HOME            */
/*                            */

.home {
    align-content: center;
    display: flex;
    padding: 7rem 4% 2rem;
}

.homeText {
    align-content: center;
}

.homeTitle {
    font-size: 2.5rem;
    color: var(--font-color);
}

.aboutBtn {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--bg-color);
    background-color: var(--main-color);
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 20px 40px;
    margin-top: 5rem;
    transition: all 0.3s ease;
}

.aboutBtn:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    transform: scale(0.95);
}

.meetBtn {
    font-weight: 600;
    color: var(--font-color);
    border-bottom: 3px solid var(--main-color);
    border-radius: 0;
    padding: 10px 0 5px 0;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.meetBtn:hover {
    transform: scale(0.95);
}

.productImg {
    margin-left: auto;
    width: 50%;
    align-content: center;
    text-align: center;
}

.productImg img {
    float: right;
    width: 100%;
}









