@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bg-color: #F9FAFB;
    --main-color: #03b32e;
    --second-color: #03a52b;
    --font-color: #231f20;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    padding: 7rem 7% 2rem;
    min-height: 90vh;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    border: 1px none;
    border-radius: 100px;
    display: inline-block;
}

span {
    color: var(--main-color);
}

::-webkit-scrollbar {
    width: 0;
}

/*                            */
/*           HEADER           */
/*                            */

header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-around;
    background-color: var(--bg-color);
}

.logo {
    font-size: 2rem;
    color: var(--font-color);
    padding: 0;
    cursor: pointer;
    width: 200px;
    transition: all .3s ease;
    margin-left: 15px;
}

.logo:hover {
    transform: scale(0.95);
}

nav {
    align-content: center;
}

.nav-links {
    list-style: none;
    padding: 0%;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    align-content: center;
    border-radius: 0;
    margin: 0 20px;
    padding: 10px 0 5px 0;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: var(--font-color);
    transition: all .3s ease;
}

.nav-links a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.loginBtn {
    font-weight: 800;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
    padding: 10px 0 5px 0;
    transition: all .3s ease;
}

.loginBtn:hover {
    transform: scale(0.95);
}

.signupBtn {
    font-weight: 600;
    text-decoration: none;
    color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    background-color: var(--main-color);
    padding: 0.7rem 1.5rem;
    margin-left: 15px;
    transition: all 0.3s ease;
}

.signupBtn:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
    transform: scale(0.95);
}

/*                            */
/*            HOME            */
/*                            */

.home {
    align-content: center;
    display: flex;
    padding: 7rem 4% 0;
}

.homeText {
    width: 50%;
    align-content: center;
}

.homeTitle {
    font-family: "Garet", sans-serif;
    font-size: 2.5rem;
    color: var(--font-color);
}

.aboutBtn {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--bg-color);
    background-color: var(--main-color);
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 1rem 2.5rem;
    margin-top: 5rem;
    transition: all 0.3s ease;
}

.aboutBtn:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
    transform: scale(0.95);
}

.meetBtn {
    font-weight: 600;
    color: var(--font-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
    padding: 10px 0 5px 0;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.meetBtn:hover {
    transform: scale(0.95);
}

.mockup {
    width: 50%;
    align-content: center;
    text-align: center;
}

.mockup img {
    width: 100%;
}


/*                            */
/*           ABOUT            */
/*                            */

.aboutUs {
    padding: 0 7%;
    align-content: center;
    display: flex;
}

.aboutImg {
    width: 50%;
    align-content: center;
}

.aboutImg img {
    width: 80%;
}

.aboutTitle {
    font-family: "Garet", sans-serif;
    font-size: 2.5rem;
    color: var(--font-color);
}

.aboutText {
    width: 50%;
    align-content: center;
}

.aboutText .meetBtn {
    font-weight: 600;
    color: var(--font-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
    margin: 0;
    padding: 50px 0 5px 0;
    transition: all 0.3s ease;
    float: right;
}

.forTeacher {
    padding: 0 7%;
    align-content: center;
    display: flex;
}

.teacherText {
    width: 50%;
    align-content: center;
}

.teacherTitle {
    font-family: "Garet", sans-serif;
    font-size: 2.5rem;
    color: var(--font-color);
}

.teacherImg {
    width: 50%;
    align-content: center;
    text-align: center;
}

.teacherImg img {
    width: 80%;
}

.teacherText .meetBtn {
    font-weight: 600;
    color: var(--font-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
    margin: 0;
    padding: 50px 0 5px 0;
    transition: all 0.3s ease;
}